
<body class="bg-image-cover">
    <!-- navigation bar -->
      <nav class="navbar navbar-fixed-top" style="background-color: rbga(255, 255, 255, 0); border-bottom: solid 2px #306d9f;">
        <div class="navbar-header">
          <a class="navbar-brand">i wish</a>
        </div>

        <div class="cillapse navbar-collapse target">
          <ul class="nav nav-tabs">
              <li class="navbar-right" style="padding: 0 20px 0 0;"><a href="/signin">Sign in</a></li>
              <li class="navbar-right"><a href="/signup">Sign up</a></li>
          </ul>
        </div>
      </nav>
    <!---->
    
    <div class="container text-center">
      <div style="padding: 20px 0">
        <h1 style="font-family: 'Monda', sans-serif; font-weight: 700;">i wish</h1>
        <h4 style="font-family: 'Monda', sans-serif;">Share your wish list, find new meetings</h4>
      </div>
      <div>
        <form action="/signup" method="get">
          <button type="submit" class="button" style="font-family: 'Monda', sans-serif; margin: 20px;"> Create account </button>
        </form>
      </div>
    </div>
    
</body>
