
      <!-- navigation bar -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a href="" class="navbar-brand active">i wish</a>
        </div>

        <div class="cillapse navbar-collapse target">
          <ul class="nav nav-tabs">
            <li data-toggle="tab"><a href="/">Home</a></li>
            <li data-toggle="tab"><a href="#upload">Upload</a></li>
            <% unless session[:user] %>
              <li data-toggle="tab" class="navbar-right"><a href="/signin">Sign in</a></li>
              <li data-toggle="tab" class="navbar-right"><a href="/signup">Sign up</a></li>
            <% else %>
              <li data-toggle="tab" class="navbar-right"><a href="/signout">Sign out</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    <!---->
    
    <div class="container" style="padding:20px 0">
      
      <!-- edit form -->
      <form action="/renew/<%= @content.id %>" method="post">
          <p>item_name：<input type="text" name="item_name" value="<%= @content.item_name %>"></p>
          <p>comment：<input type="text" name="comment" value="<%= @content.comment %>"></p>
          <p style="margin: 20px;"><input type="submit" class="btn btn-primary" value="done"></p>
      </form>
      <!---->
    
    </div>
