<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>i wish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap template -->
    <link href="/stylesheets/bootstrap-3.3.6-dist/css/bootstrap.min_paper.css" rel="stylesheet">
    <!-- custom layout -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- font-awesome for icon -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- for viewer -->
    <link href="/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">
    <!-- jquery -->
    <script type="text/javascript" src="/stylesheets/bootstrap-3.3.6-dist/js/jquery.min.js"> </script>
</body>
</head>
<body style="padding: 60px 0 0 0">
    <%= yield %>
    <!-- image -->
    <script type="text/javascript" src="/lightbox2-master/dist/js/lightbox-plus-jquery.js"></script>
    <!-- navbar -->
    <script type="text/javascript" src="/stylesheets/bootstrap-3.3.6-dist/js/bootstrap.min.js"> </script>
    <!-- input file -->
    <script type="text/javascript" src="/stylesheets/bootstrap-3.3.6-dist/js/bootstrap-filestyle.min.js"> </script>
</body>
</html>
