input[type=submit]{
font-family: FontAwesome /*FontAwesomeをフォント指定*/;
}

.box {
   border-bottom: 1px solid #aaaaaa;
}

.bg-image-cover {
  background: url(/images/SplitShire-2.jpg) center center / cover no-repeat fixed;
}

.bg-image-1 {
  background: url(/images/background.jpg) center center / cover no-repeat fixed;
}